<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="Config" value="\path\to\configuration.xml"/>
    <add key="ConnString" value="dbconnectionstring"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
</configuration>